<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Flyaway</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authorise</display-name>
    <servlet-name>Authorise</servlet-name>
    <servlet-class>net.codejava.Authorise</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authorise</servlet-name>
    <url-pattern>/Authorise</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewPaymentServlet</display-name>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <servlet-class>net.codejava.ReviewPaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewPaymentServlet</servlet-name>
    <url-pattern>/review_payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExecutePaymentServlet</display-name>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <servlet-class>net.codejava.ExecutePaymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExecutePaymentServlet</servlet-name>
    <url-pattern>/execute_payment</url-pattern>
  </servlet-mapping>
</web-app>