* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    background-color: #ffffff;
    color: #fff;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
  }
   .logo-img{
    width: 23%;
    margin-left: 15%;
    margin-top: 0;
  }
   .search-container {
    display: flex;
    align-items: center;
    background-color: #203764;
    border-radius: 5px;
    padding: 2px;
  }
  
  .search-container input[type="text"] {
    border: none;
    padding: 7px;
    font-size: 1em;
    width: 20rem;
    border-radius: 5px 0 0 5px;
    
  }
  
  .search-container button {
    border: none;
    padding: 5px;
    font-size: 1em;
    background-color: #203764;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
  }
    .search-container{
    position: absolute;
    left:24rem;
  }
    .rightside{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
    color: #203764;
    padding-right: 6rem;
  }
  .rightside span{
    padding: 0 20px 0 20px;
  }
  .rightside a{
    color: #203764;
    text-decoration: none;
    padding: 0 10px 0 10px;
}
.rightside a:hover{
    text-decoration: underline;
    color:rgb(56, 96, 255);
}
 .navbar {
    display: flex;
    padding: 0 0 0 0rem;
    background-color: #203764;
    color: #fff;
  }
  
  .navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 1rem 2rem 1rem 2rem;
    float: left;

  }
  .navbar a:hover{
    text-decoration: underline;
    background-color: rgb(56, 96, 255);
  }
  h1{
  text-align:center;
  padding-bottom: 20px;
  }
  
  
  /* review body */
  body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;

}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #d8e1edb3;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

td:first-child {
  font-weight: bold;
  width: 150px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.button-29 {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-29:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}